

@mixin flat-btn($name, $bg, $color, $border-color, $border-size: $flat-btn-border-size) {
  &.flat-btn-#{$name} {
    background-color: $bg;
    color: $color;
    border-bottom: $border-size solid $border-color;

    $offset: -$border-size;
    box-shadow: inset 0 $offset $border-color;
  }
}




@mixin floating-box-arrow($dir, $color: transparent) {
  border-#{$dir}: solid $floating-box-arrow-size $color;
}



@mixin floating-box-color($bg-color, $font-color) {
  background: $bg-color;
  color: $font-color;

  @each $dir in top, right, bottom, left {
    &.floating-box-#{$dir}:before {
      @include floating-box-arrow($dir, $bg-color);
    }
  }
}



@mixin hamburger-color($bg: $hamburger-btn-bg-color, $color: $hamburger-btn-line-color) {
  background: $bg;

  .left-bars,
  .left-bars:before,
  .left-bars:after,
  .right-bars,
  .right-bars:before,
  .right-bars:after {
    background: $color;
  }
}

@mixin hamburger-size($size: $icon-btn-font-size, $line-height: $hamburger-btn-line-height) {
  .bars-wrapper {
    width: $size;
    height: $size;
  }

  .left-bars,
  .left-bars:before,
  .left-bars:after,
  .right-bars,
  .right-bars:before,
  .right-bars:after {
    width: $size / 2;
    height: $line-height;
  }
}

@mixin hamburger-position($size: $icon-btn-font-size, $line-height: $hamburger-btn-line-height) {
  .left-bars,
  .right-bars {
    opacity: 1;

    $offset: $line-height / 2;
    $top: $size / 2 - $offset;
    top: $top;

    $total-px-taken: $size - $line-height * 3;
    $top: $total-px-taken / 3 + $offset;
    &:before {
      top: -#{$top};
    }

    &:after {
      top: $top;
    }
  }

  &.active {
    $x: $line-height;
    $y: $line-height + $line-height / 2;

    .left-bars:before {
      transform: translate3d($x, $y, 0) rotateZ(45deg);
    }

    .left-bars:after {
      transform: translate3d($x, -$y, 0) rotateZ(-45deg);
    }

    .right-bars:before {
      transform: translate3d(-$x, $y, 0) rotateZ(-45deg);
    }

    .right-bars:after {
      transform: translate3d(-$x, -$y, 0) rotateZ(45deg);
    }
  }
}
